$colorGradientReverse: linear-gradient(180deg, rgba(180,0,243,1) 0%, rgba(209,0,243,1) 100%);
$iconColor: white;

.footer {
    display: flex;
    background: $colorGradientReverse;
    
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;

    .iconContainer {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 45px;

        .camera {
            color: $iconColor;
        }
        
        .imageUpload {
            color: $iconColor;
            margin-top: 5px;
        }


    }

    
}

