*{
    background:#21262E;
    background-size: 100% ;
    text-align: center;
}
.inputl{
    margin-top: 200px;
    background: #30373D;
    height: 40px;
    width: 280px;
    border-radius: 5px;
    border-bottom: 1px solid #A371F7;
    text-align: start;
    letter-spacing: 0.5pt;  
    color: beige;
}
.input{
    background: #30373D;
    height: 40px;
    width: 280px;
    border-radius: 5px;
    border-bottom: 1px solid #A371F7;
    text-align: start;
    letter-spacing: 0.5pt;  
    margin: 50px;
    //margin-top: 60px;
    color: rgb(248, 244, 212) ;
}
.btnl{
    background-color:#A371F7 ;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}
small{
    color: beige;
    letter-spacing: 0.5pt;
}
small a{
    color: #A371F7;
}