*{
    text-align: center;
    background-image: url("/src/img/Component_4.png");
    background-size: 130%;
    background-position-x: -35px ;
    /* background: url("/src/img/Component_4.png") no-repeat center fixed; */
}

.divar{
    margin: 30px;
}
.inputl{
    background: white;
    height: 30px;
    border-radius: 5px;
    text-align: start;
    letter-spacing: 0.5pt;
}
.btn{
    background: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}