.inputr1{
    background: #21262E;
    height: 40px;
    width: 280px;
    border-radius: 5px;
    border-style: none;
    border-bottom: 3px solid #A371F7;
    text-align: start;
    font-size: large;
    letter-spacing: 0.5pt;
    margin-top: 200px;
    color: beige;
    //margin: 10px;
    
}
.inputr{
    background: #21262E;
    height: 40px;
    width: 280px;
    border-radius: 5px;
    border-style: none;
    border-bottom: 3px solid #A371F7;
    text-align: start;
    font-size: large;
    letter-spacing: 0.5pt;
    margin: 15px;
    color: beige;
    //margin-top: 100px;   
}

.btn{
    background-color:#A371F7 ;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
}
small{
    color: beige;
    font-size: medium;
    letter-spacing: 0.5pt;
}
.a{
    color: #A371F7;
}