.div{
    text-align: center;
    background-image: url("/src/img/Component_4.png");
    background-size: 130%;
    background-position-x: -35px ;
    /* background: url("/src/img/Component_4.png") no-repeat center fixed; */
}