.inputl{
    margin-top: 200px;
    background: #21262E;
    height: 40px;
    width: 280px;
    border-style: none;
    border-bottom: 3px solid #A371F7;
    text-align: start;
    font-size: large;
    letter-spacing: 0.5pt;  
    color: beige;
}
.input{
    background: #21262E;
    height: 40px;
    width: 280px;
    border-style: none;
    border-bottom: 3px solid #A371F7;
    text-align: start;
    font-size: large;
    letter-spacing: 0.5pt;  
    margin-top: 50px;
    //margin-top: 60px;
    color: rgb(248, 244, 212) ;
}
.btnl{
    background-color:#A371F7 ;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}
small{
    color: beige;
    letter-spacing: 0.5pt;
}
.a{
    color: #A371F7;
}
i{
    color: gray;
}
.img{
    margin: 0px;
    
}
