.btnlt{
    background-color:#A371F7 ;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin-top: 200px;
    margin-bottom: 100px;
}
.h31{
    color: beige;
    margin-top: 200px;
}
.h3{
    color: beige;
}