.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .post {
        margin: 15px;
        background-color: #30373D;

        img {
            width: 100%;
        }

        p {
            color: white;
        }
    }
}