.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animate 2s;

    .img {
        margin-top: 100px;
    }

    .imgChange {
        margin-top: 50px;
        margin-bottom: 50px;
        transition: ease-in-out 1s;
    }   
    
    .h4{
        color: white;
        font-weight: lighter;
        margin: 20px;
        margin-bottom: 80px;
    }

    .h4Change{
        opacity: 0;
        color: white;
        font-weight: lighter;
        margin: 20px;
        margin-bottom: 80px;
        transition: ease-in-out 0.5s;
    }

    .btn {
        cursor: pointer;
        background: #A371F7;
        color: white;
        width: 220px;
        height: 65px;
        font-family: 'Arvo', serif;
        font-size: 20px;
        border: none;
        border-radius: 1000px;
        margin-top: 80px;
    }
    
    .btnChange {
        opacity: 0;
        cursor: pointer;
        background: #A371F7;
        color: white;
        width: 220px;
        height: 65px;
        font-family: 'Arvo', serif;
        font-size: 20px;
        border: none;
        border-radius: 1000px;
        margin-top: 80px;
        transition: ease-in-out 0.5s;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10;
    }
}
